body {
  background-color: #7CB0B6;
  text-align: center;
}

main {
  margin-right: 20px;
  margin-left: 20px;
  background-color: white;
}

h1{
    text-align: center;
    color: #071E22;
  }

h2{
  text-align: center;
  color:#7CB0B6;
}

/* Not Nessacary */
img{
    width: 500px;
    height: 400px;
}

nav {
  background-color: #071E22;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
}

nav li {
  display: inline;
  margin-right: 25px;
}

nav a {
  color: white;
  font-size: 1.5em;
}

nav a:hover {
  color: pink;
  text-decoration: none;
}

.bor{
  border: 1px;
  color: red;
}